<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
   <title>About</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
   <meta name="description" content="">
   <link type="text/css" rel="stylesheet" href="/static/jsterm/style.css">
   <link rel="stylesheet" href="/static/jsterm/font-awesome.min.css">
</head>
<body>
   <script type="text/javascript" src="/static/jsterm/command.js"></script>
   <script type="text/javascript" src="/static/jsterm/config.js"></script>
   <script type="text/javascript" src="/static/jsterm/jsterm.js"></script>
   <script type="text/javascript">
      console.log(
         "*************************************************************\n"+
         "hi,程序员你好,猜到你会看本页面的前台代码的。\n"+
         "你可以通过本页面的"+ CONFIG.username +"模块的sendmail方法给我发邮件 或者 qq:715443050\n"+
         '**************************************************************'
      );
   </script>
</body>
</html>
